.hidden {
    display: none
}
 /*font-family: "Raleway",sans-serif;
 font-family: "Roboto",sans-serif;*/

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

/*reset*/
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
 button {
    cursor: pointer;
 }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}
.icon {
    fill: #f4f4fd;

}

/* comon */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
.container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
.section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;

}
/*
@media screen and (min-width: 1158px) {
.title {
        margin-bottom: 72px;
    }
}*/
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
.burger-btn {
    display: none;
    }
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.contacts {
    font-style: normal;
    display: block;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

}

@media screen and (min-width: 1158px) {
    .header-logo {    
        margin-right: 76px;
    }
.contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}

/*mobile menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /*transition: ;*/
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: #2E2F42;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-btn-close:hover,
.mobile-btn-close:focus {

    background-color: #404bbf;
    border: none;
}

.mobile-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-btn-close:hover>.mobile-close-icon,
.mobile-btn-close:focus>.mobile-close-icon {
    fill: #fff;
}

.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-nav-link {
   /*display: block;
    padding: 20px 0;*/
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: #404bbf;
}

.mobile-menu-contacts {
    font-style: normal;
    margin-bottom: 48px;
    }

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: #4d5ae5;
}

.mobile-menu-social-links {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.mobile-menu-social-item {
    width: 40px;
    height: 40px;


}

.mobile-menu-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    background-color: #404bbf;
}




@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* hero-section */

.hero-section {
    max-width: 320px;
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
.hero-section {       
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_mob@2x.jpg);       
    }
}



.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto 72px auto;
}


.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

 @media screen and (min-width: 768px) {
    .hero-section {
            max-width: 768px;           
            padding: 112px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_tab@1x.jpg);
        }
    
        .hero-title {
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;       
            max-width: 496px;
            margin: 0 auto 36px auto;
        }    
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_tab@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
            max-width: 1440px;
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_desk@1x.jpg);
        }
    
        .hero-title { 
            margin: 0 auto 48px auto;
        }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_desk@2x.jpg);
    }
}

/* benefits-section */

.benefits-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}
.benefits-item {
    width: 100%;
}
.benefits-icon-container {
    display: none;
}
.subtitle-benefits {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
}
.benefits-text {
    font-weight: 500;
}


@media screen and (min-width: 768px) {
    .benefits-list {
           row-gap: 72px;
           column-gap: 24px;
        }
    
    .benefits-item {
            width: calc((100% - 24px)/2);
                    }
    .subtitle-benefits {
            text-align: left;
        }
}

@media screen and (min-width: 1158px) {
    .benefits-list {
            display: flex;
            gap: 24px;
        }
    
    .benefits-item {
            width: calc((100% - 3*24px)/4);
        }

    .benefits-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 112px;
            border: 1px solid #8e8f99;
            border-radius: 4px;
            background-color: #f4f4fd;
            margin-bottom: 8px;
        }
    .subtitle-benefits {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        }
    .benefits-text {
        font-weight: 400;
    }
                
}

/*section-team*/

.section-team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-item {
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    width: 100%;
    max-width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.team-card-content {
    text-align: center;
    padding: 32px 0;
}

.text-team {
    margin-bottom: 8px;
}

.team-social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.team-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: #404bbf;
}

.icon {
    fill: #f4f4fd;

}

@media screen and (min-width: 768px) {
    /*.section-team {
            padding-left: 108px;
            padding-right: 108px;
        }*/
     .team-list {
            row-gap: 64px;
            column-gap: 24px;
            justify-content: center;
        }

      .team-item {
            width: calc((100% - 24px)/2);
        }        
}

@media screen and (min-width: 1158px) {
    .team-list {
            gap: 24px;
            justify-content: space-between;
        }
    
    .team-item {
            width: calc((100% - 3*24px)/4);
        }
}

/*portfolio-section*/

.portfolio-card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    padding: 40px 32px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-card-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

@media screen and (min-width: 768px) {

    /*.section-team {
            padding-left: 108px;
            padding-right: 108px;
        }*/
    .portfolio-card-set {
        row-gap: 72px;
        column-gap: 24px;
        justify-content: space-between;
    }

    .portfolio-item {
        width: calc((100% - 24px)/2);
    }
}

 @media screen and (min-width: 1158px) {
    .portfolio-card-set {
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 48px)/3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}



/*footer-container*/

.page-footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}
.footer-logo {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;  
}
.footer-sm {
    margin-bottom: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.footer-social-links {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-subsctibe-container {
    text-align: center;
}
.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

 
.footer-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    width: 288px;
    background-color: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    padding: 8px 16px;
      
    /*stroke-opacity: 0.3;
    fill-opacity: 0.3;
    flood-opacity: 0.3;
    opacity: 0.3;*/

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: boder-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
    color: #fff;
    opacity: 0.6;
}

.footer-form-input:hover,
.footer-form-input:focus {
    border-color: #31d0aa;
}

.subscribe-btn {.
   
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;    
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;

    fill: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  /*margin: 0 auto;
  display: block;
  text-align: center;*/

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #31d0aa;
}

.icon-footer-send {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .page-footer {
        padding-left: 108px;
    }
    .footer-container {
        row-gap: 72px;
        column-gap: 24px;
        justify-content: left;
    }
    .footer-logo {
        text-align: left;
    }
     .footer-text {
       width: 264px;
    }
    .footer-sm {
        text-align: left;
    }
    .footer-form {
        gap: 24px;
    }
   .footer-form-input {
       width: 264px;
   }
}

@media screen and (min-width: 1158px) {
    .page-footer {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
    }
    .footer-container {           
        align-items: baseline;
        justify-content: space-between;
        gap: 0;
    }
        /*.footer-form-input {
            stroke-opacity: 1;
        }*/

    .footer-form-input::placeholder {
            opacity: 1;
        }
    
}

/*modal*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;

    padding: 72px 16px 24px 16px;
    border-radius: 4px;

    transform: translate(-50%, -50%);

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    fill: #2E2F42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {

    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover>.modal-close-icon,
.modal-btn-close:focus>.modal-close-icon {
    fill: #fff;
}


.modal-caption {
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.modal-form {}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-lable {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding: 14px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4d5ae5
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    pointer-events: none;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: #4d5ae5;
}

.comment-container {
    margin-bottom: 16px
}

.comment-form {
    height: 120px;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
}

.comment-form::placeholder {
    color: rgba(46, 47, 66, 0.4);
}


.modal-form-agreement-container {
    margin-bottom: 24px;
}



.modal-form-agreement-text {

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.modal-form-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    fill: transparent;
    flex-shrink: 0;
}

.input-checkbox:checked+.modal-form-agreement-text>.modal-form-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}



.modal-form-checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked+.modal-form-agreement-text .modal-form-checkbox .modal-form-checkbox-icon {
    opacity: 1;
}



.modal-form-agreement-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}



.modal-btn-send {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px){
.modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;       
    }
}




